---
layout: "sidebar-layout.njk"
---

<!-- Secondary sidebar specific to project pages (desktop only) -->
<div class="page-sidebar project-sidebar desktop-only">
    <div class="sidebar-hamburger-icon project-hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
    </div>
    <nav class="sidebar-nav">
        <ul>
            {%- for project in projects -%}
                <li>
                    <a href="{{ project['Card Link'] | url }}"
                        class="sidebar-link{% if project['Card Link'] == page.url %} active-link{% endif %}">
                        <span class="link-text">{{ project['Navbar Text'] }}</span>
                        {%- if project['Card Link'] == page.url -%}
                            <span class="active-indicator"></span>
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
</div>

<div class="main-content-area project-content-area">
    {{ content | safe }}
</div>

<!-- Additional page-specific scripts -->
{% block pagescripts %}{% endblock %}
